registry=https://registry.npmmirror.com/

//npm.pkg.github.com/:_authToken=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
@possie-engine:registry=https://npm.pkg.github.com
@datareachable:registry=https://npm.pkg.github.com
